---
import { Image } from "astro:assets";

const recentTrack = async () => {
  const response = await fetch(
    `http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=notbytehead&api_key=${import.meta.env.API_KEY}&format=json`
  );
  const data = await response.json();
  const recent = data["recenttracks"].track[0];
  return recent;
};

const track = await recentTrack();
---

<section class="flex justify-center items-center">
  <Image
    src={track.image[3]["#text"]}
    alt="cover"
    width="10"
    height="10"
    class="p-4 flex-1 max-w-[8rem] aspect-square"
  />
  <p class="max-w-[40ch] p-2 flex-1">
    <strong
      >Latest track from <a
        href="https://last.fm/user/notbytehead"
        class="text-orange-600">Last.FM</a
      >:</strong
    ><br />
    <a href={track.url} target="_blank" rel="norefferer" class="text-slate-400"
      >{track.name}</a>, by {track.artist["#text"]}, from {track.album["#text"]}.
  </p>
</section>
